.card {
	height: 10rem;
	background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 25px;
	padding: 2rem 2rem;
	justify-content: space-between;
}

.user {
	font-weight: 400;
	margin: 0;
}

.review {
	justify-content: start;
	width: 100%;
	margin-right: 2rem;
}

.review-header {
	justify-content: start;
	width: 100%;
}

.review-footer {
	justify-content: space-between;
	width: 100%;
}

.rate-card {
	height: 10rem;
	width: 10rem;
	background: #fff;
	border-radius: 25px;
	justify-content: start;
	align-items: center;
}