.category-containerv2 {
  height: 100%;
  width: 90%;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2.5rem;
}

.cards-category_containerv2 {
  border-radius: 15px;
  transition: box-shadow 0.25s;
}

.cards-category_containerv2:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}

.titlev2 {
  font-size: 2rem;
  margin: 2rem 0 0;
  text-align: center;
}

.category-titlev2 {
  color: #000000;
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: space-between;
}

.icon-heartv2 {
  box-sizing: border-box;
  width: 2rem;
  color: rgba(0, 0, 0, 0.521);
}

.icon-heartv2:hover {
  cursor: pointer;
}

.videov2 {
  width: 100%;
  height: 13rem;
}

.video-footer-textv2 {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  margin-left: 0.8rem;
}

.arrow-leftv2 {
  width: 2rem;
}

.arrow-left_btnv2 {
  padding: 0;
  margin-right: 0.8rem;
}

.arrow-leftv2:hover {
  cursor: pointer;
}

.video-footerv2 {
  margin-top: 0.5rem;
  justify-content: end;
}

.no-videosv2 {
  color: #505050;
  font-size: 0.8rem;
}