.flex-big-logo {
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-items: center;
  z-index: 1;
  justify-content: end;
}

.logo-card {
  width: 24rem;
  padding: 5rem 0 5rem 14rem;
  margin-right: -5rem;
  z-index: 1;
}

.pink-big-card {
  height: 27rem;
  width: 71rem;
  background: linear-gradient(
      180deg,
      rgba(2, 11, 229, 0.3) 0%,
      rgba(251, 252, 255, 0.3) 99.99%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    rgba(255, 27, 136, 0.49);
  border-radius: 6rem 0 0 6rem;
  justify-content: center;
  align-items: center;
}

.card-text {
  width: 46rem;
  text-align: center;
  margin-bottom: 1.25rem;
}
