.related-videos-container {
	width: 22%;
	background: linear-gradient(180deg, #7402E5 0%, rgba(0, 0, 0, 0) 100%), #3B1BFF;
	border-radius: 25px;
  min-height: 53rem;
}

.white-bg {
  background: #fff;
  width: 90%;
  height: 101%;
  border-radius: 25px 0 0 25px;
}

.video-thumbnail-container {
  line-height: 0;
  color: #000;
}

.video-thumbnail {
  margin-top: 2rem;
}

.video-thumbnail:-moz-first-node {
  margin-top: 0;
}

.related-video-title {
  margin-bottom: 0;
  color: #000;
  text-align: center;
}

.related-title {
  margin-bottom: 0;
  text-align: center;
}

.horizontal-related {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}