.related-videos-container {
	width: 30%;
	background: linear-gradient(180deg, #7402E5 0%, rgba(0, 0, 0, 0) 100%), #3B1BFF;
	border-radius: 25px;
  min-height: 53rem;
}

.white-bg {
  background: #fff;
  width: 90%;
  height: 100%;
  border-radius: 25px 0 0 25px;
}

.video-thumbnail-container {
  position: relative;
  overflow: hidden;
  padding-top: 57%;
  line-height: 0;
  color: #000;
  width: 98.2%;
}

.video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  margin-top: 2rem;
}

.video-thumbnail:-moz-first-node {
  margin-top: 0;
}

.related-video-title {
  margin-bottom: 0;
  color: #000;
  text-align: center;
}

.related-title {
  color: #000;
  margin-bottom: 0;
  text-align: center;
}