.category-details-container {
  margin-top: 1rem;
  background-color: #fff;
}

.category-details-hr {
  border: 0;
  height: 1px;
  width: 99%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title-row_details {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.title-category-name_details {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.title-video-row_details {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  width: 320px;
}

.img-row_details {
  border-radius: 15px;
  transition: box-shadow 0.25s;
}

.img-row_details:hover {
  box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);
}

.a-row_details {
  padding: 0;
}

.row-footer-text_details {
  font-size: 0.9rem;
  color: rgb(41, 41, 41);
}

.best-rated-row {
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: flex-end;
}