.category-details-container {
  margin-top: 1rem;
  background-color: #fff;
}

.category-details-hr {
  border: 0;
  height: 1px;
  width: 99%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title-category-name_details {
  margin-left: 3rem;
}

.title-row_details {
  color: #000;
  text-align: center;
  margin-top: 1rem;
}

.title-video-row_details {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
}

.img-row_details {
  border-radius: 15px;
}

.a-row_details {
  padding: 0;
}

.row-footer-text_details {
  font-size: 0.9rem;
  color: rgb(53, 53, 53);
}

.best-rated-row {
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}