body {
  --card-box-shadow-1: rgba(24, 24, 27, 0.02);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(24, 24, 27, 0.04);
  --card-box-shadow-2-y: 2px;
  --card-box-shadow-2-blur: 7px;
  --card-hover-border-color: rgba(255, 255, 255, 0.2);
  --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
  --card-hover-box-shadow-1-y: 5px;
  --card-hover-box-shadow-1-blur: 10px;
  --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
  --card-hover-box-shadow-2-y: 15px;
  --card-hover-box-shadow-2-blur: 25px;
  --card-background-color: rgba(255, 255, 255, .015);
}

.category-list {
  margin: 2rem 6rem 5rem 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 4rem;
  row-gap: 3rem;
}

.category-results-container {
  padding: 30px 16px 16px 16px;
  background: #818181;
  border: 1px solid rgb(124, 124, 124);
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur)
      var(--card-box-shadow-1),
    0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur)
      var(--card-box-shadow-2),
    0 0 0 1px var(--card-border-color);
  border-radius: 15px;
  transition: box-shadow 0.25s;
}

.category-results-container:hover {
  box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);
}

.category-title-card {
  margin: 12px 0 4px 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 2;
  color: #ffffff;
}

.category-description {
  color: #d4d4d4;
  margin: 0;
  padding-bottom: 1rem;
  font-size: 14px;
  line-height: 1.7;
  border-bottom: 1px solid rgba(204, 204, 204, 0.37);
}

.card-footer {
  justify-content: space-between;
  margin: 0;
}

.card-footer-text {
  font-size: 16px;
  color: #d4d4d4;
}

.no-category-found {
  text-align: center;
  font-size: 1.5rem;
}