.search-bar {
    background: linear-gradient(180deg, rgba(2, 11, 229, 0.3) 0%, rgba(251, 252, 255, 0.3) 99.99%, rgba(255, 255, 255, 0.3) 100%), rgb(255, 27, 137);
    height: 6rem;
    justify-content: space-between;
}

.search-bar-logo {
    width: 4.5rem;
    margin-left: 5rem;
}

.search-container {
    align-items: center;
    justify-content: space-around;
    width: 55rem;
    margin-right: 7rem;
}

.btn-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(253, 67, 157);  
    border: 1px solid rgb(253, 67, 157);
    box-shadow: 0px 2px 0 rgba(226, 44, 132, 0.658), 2px 4px 6px rgb(255, 22, 135);
    transition: all 150ms linear;
}
  
.btn-3:hover {
    background: rgb(230, 52, 138);
    border: 1px solid rgba(226, 44, 132, 0.658);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: rgba(255, 255, 255, 0.788);
    transition: all 250ms linear;
}

.search-input {
    width: 40rem;
    height: 3rem;
    background-color: #F4F7FF;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.text {
    background-color: #F4F7FF;
    border-radius: inherit;
    width: 35rem;
    font-size: 1.2rem;
}

.icon-search {
    width: 2rem;
    color: rgba(0, 0, 0, 0.521);
} 