.user-detail {
  max-height: 68rem;
	width: 100%;
	margin: 2rem 0;
	justify-content: center;
	gap: 3rem;
}

.user-container {
  background: linear-gradient(180deg, #7402E5 0%, rgba(0, 0, 0, 0) 100%), #3B1BFF;
	border-radius: 25px;
	width: 53%;
	justify-content: center;
	max-height: 73rem;
}

.user-categories-container{
	width: 22%;
	background: linear-gradient(180deg, #7402E5 0%, rgba(0, 0, 0, 0) 100%), #3B1BFF;
	border-radius: 25px;
  min-height: 53rem;
}

.user-categories-title {
  color: #000;
  margin-bottom: 0;
  text-align: center;
}

.user-detail-title {
  color: #000;
  text-align: center;
}

.user-detail_text-container {
	margin: 4rem 4rem 0;
	gap: 2rem;
}

.user-detail_text-title {
	font-size: 1rem;
	font-weight: 600;
}

.user-detail_text {
	font-size: 1rem;
	margin-left: 1rem;
}

.username-edit {
	justify-content: space-between;
}

.user-detail-edit_button {
	height: 3rem;
	width: 10rem;
	font-size: 1rem;
  background: rgb(253, 67, 157);
  border: 1px solid rgb(253, 67, 157);
  box-shadow: 0px 2px 0 rgba(226, 44, 132, 0.658), 2px 4px 6px rgb(255, 22, 135);
  transition: all 150ms linear;
}

.user-detail-edit_button:hover {
	background: rgb(230, 52, 138);
  border: 1px solid rgba(226, 44, 132, 0.658);
  box-shadow: 1px 1px 2px rgba(#fff, 0.2);
  color: rgba(255, 255, 255, 0.788);
  transition: all 250ms linear;
}

.input-username {
	font-size: 1rem;
	background-color: #eeeeee6c;
  margin-left: 1rem;
  border-radius: 15px;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.278);
  display: flex;
}

.modal-save-user {
  margin: auto;
  width: 90%;
  max-width: 40rem;
  background-color: white;
  border-radius: 1.5rem;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 2rem;
}

.modal-input{
  margin-bottom: 1rem;
}

