.user-detail {
  max-height: 68rem;
	width: 100%;
	margin: 2rem 0;
	justify-content: center;
	gap: 3rem;
}

.user-container {
  background: linear-gradient(180deg, #7402E5 0%, rgba(0, 0, 0, 0) 100%), #3B1BFF;
	border-radius: 25px;
	width: 53%;
	justify-content: center;
	max-height: 73rem;
}

.user-categories-container{
	width: 22%;
	background: linear-gradient(180deg, #7402E5 0%, rgba(0, 0, 0, 0) 100%), #3B1BFF;
	border-radius: 25px;
  min-height: 53rem;
}

.user-categories-title {
  color: #000;
  margin-bottom: 0;
  text-align: center;
}

.user-detail-title {
  color: #000;
  text-align: center;
}

.user-detail_text-container {
	margin: 4rem 4rem 0;
	gap: 2rem;
}

.user-detail_text-title {
	font-size: 1rem;
	font-weight: 600;
}

.user-detail_text {
	font-size: 1rem;
	margin-left: 1rem;
}

.username-edit {
	justify-content: space-between;
}

.no-categories{
  font-size: 1rem;
  text-align: center;
}

.delete-account {
  color: red;
  background-color: #fff;
  margin: 2rem 0 3rem 0;
}

.delete-account:hover {
  text-decoration: underline;
  background-color: #fff;
}