.category-container {
  height: 20rem;
  width: 90%;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
}

.cards-category_container {
  border-radius: 15px;
  transition: box-shadow 0.25s;
}

.cards-category_container:hover {
  box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);
}

.title {
  font-size: 2rem;
  margin: 2rem 0 0;
  text-align: center;
}

.category-title {
  color: #000000;
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: space-between;
}

.icon-heart {
  box-sizing: border-box;
  width: 2rem;
  color: rgba(0, 0, 0, 0.521);
}

.icon-heart:hover {
  cursor: pointer;
}

.video {
  width: 100%;
  height: 13rem;
}

.video-footer-text {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  margin-left: 0.8rem;
}

.arrow-left {
  width: 2rem;
}

.arrow-left_btn {
  padding: 0;
  margin-right: 0.8rem;
}

.arrow-left:hover {
  cursor: pointer;
}

.video-footer {
  margin-top: 0.5rem;
  justify-content: end;
}

.category-btn-row{
  justify-content: end;
}

.category-btn {
  height: 2.5rem;
  width: 12rem;
  font-size: 1.2rem;
  background: rgb(253, 67, 157);  
  border: 1px solid rgb(253, 67, 157);
  box-shadow: 0px 2px 0 rgba(226, 44, 132, 0.658), 2px 4px 6px rgb(255, 22, 135);
  transition: all 150ms linear;
  justify-content: space-around;
  align-items: center;
}

.category-btn:hover {
  background: rgb(230, 52, 138);
  border: 1px solid rgba(226, 44, 132, 0.658);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: rgba(255, 255, 255, 0.788);
  transition: all 250ms linear;
}

.icon-more {
  justify-content: end;
  align-items: center;
}

.no-videos {
  color: #505050;
  font-size: 0.8rem;
}