.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  padding: 1rem 0 0 0;
  position: initial;
  z-index: 1;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
}

.logo-image {
  height: 100%;
  width: auto;
}

.logo-text {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  margin-left: 1rem;
  color: #fff;
}

.login-button {
  margin-right: 2rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 25px;
}
