span,
h2 {
  line-height: 2.5rem;
  font-size: 1.8rem;
}

input {
  border: none;
  outline: none;
  padding: 0.5rem 1.3rem;
  font-size: 1.8rem;
}

button {
  border: none;
  background: none;
  font-weight: 400px;
  padding: 0.5rem 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

a {
  color: rgb(255, 255, 255);
  line-height: 1.4;
  padding: 0.25em;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

iframe {
  border-radius: 15px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.btn {
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 45px;
  text-decoration: none;
  border-radius: 1.2rem;
}

.btn:hover {
  text-decoration: none;
}
