.page-base {
	background: linear-gradient(
			rgba(2,66,229,1) 0%,
			rgba(2,45,157,0.89) 35%,
			rgba(255, 255, 255, 0.48) 70%,
			rgba(255, 255, 255, 0) 100%
	);
}

.breadcrumb {
	color: #fff;
}

.video-detail {
  max-height: 68rem;
	width: 100%;
	margin: 2rem 0;
	justify-content: space-around;
}

