.img-home-bg {
  width: 100%;
  z-index: -5;
  position: relative;
  height: 102%;
  margin-top: -30rem;
}

.home-main-text {
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin: 0 10rem;
  width: 50rem;
}

.text-span {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.sign-up-btn {
  margin-top: 5rem;
  padding-top: 3px;
  height: 3rem;
  width: 16rem;
  border-radius: 25px;
  font-size: 1.8rem;
  background-color: #2a13c273;
}

.t1 {
  color: #fff;
}