footer{
    background: #7402E5;
    color: #fff;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer>div {
    margin-left: 2rem;
}

.logo {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    letter-spacing: .1rem;
    font-size: 2rem;
}

.contacts {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.span-contacts {
    font-size: 1rem;
    line-height: 1.5rem;
}
